---
import Layout from '@layouts/Layout.astro'
import { getAlbumById } from 'src/services/main'
import BackgroundColor from '@components/sections/playlist/Background.astro'
import Menu from '@components/sections/playlist/Menu.astro'
import Songs from '@components/sections/playlist/Songs.astro'
import SongListHeader from '@components/sections/playlist/SongListHeader.astro'
import Container from '@components/sections/playlist/layout/Container.astro'
import Hero from '@components/sections/playlist/layout/Hero.astro'
import type { Album } from '@lib/types/general'
import MainImage from '@components/sections/playlist/MainImage.astro'

const album = (await getAlbumById({ id: Number(Astro.params.id) })) as Album

if (!album) {
  return Astro.redirect('/not-found')
}
---

<Layout title={`${album.title} - Ãlbum de ${album.artist.name}`}>
  <BackgroundColor coverSource={album.coverBig} />
  <Container>
    <Hero data={album}>
      <MainImage
        src={album.coverBig}
        alt=`Cover de ${album.title}`
        slot="main-image"
      />
    </Hero>
    <section class="z-10 py-6">
      <Menu section="album" />
      <div class="py-5 flex flex-col gap-4">
        <!-- songs -->
        <SongListHeader />
        <div>
          <Songs songs={album.tracks} />
        </div>
      </div>
    </section>
  </Container>
</Layout>
