---
import { playlists } from '@lib/playlists'
import Layout from '@layouts/Layout.astro'
import Background from '@components/sections/playlist/Background'
import { Image } from 'astro:assets'
import Menu from '@components/sections/playlist/Menu.astro'
import SongListHeader from '@components/sections/playlist/SongListHeader.astro'
import Songs from '@components/sections/playlist/Songs.astro'
import getSongsFromPlaylist from './_songs'
import MainImage from '@components/sections/playlist/MainImage.astro'
import Container from '@components/sections/playlist/layout/Container.astro'
import Hero from '@components/sections/playlist/layout/Hero.astro'

const playlist = playlists.find((playlist) => playlist.id === Astro.params.id)

if (!playlist) {
  return Astro.redirect('/not-found')
}

const songs = await getSongsFromPlaylist(playlist)
---

<Layout title="">
  <Background coverSource={playlist.cover} client:visible />
  <Container>
    <Hero data={playlist}>
      <MainImage
        src={playlist.cover}
        alt=`Cover de ${playlist.name}`
        slot="main-image"
      />
    </Hero>
    <section class="z-10 py-6">
      <Menu section="playlist" />
      <div class="py-5 flex flex-col gap-4">
        <!-- songs -->
        <SongListHeader section="playlist" />
        <div>
          <Songs songs={songs} section="playlist" />
        </div>
      </div>
    </section>
  </Container>
</Layout>
