---
import type { Playlist } from '@lib/types/playlist'
import type { Album } from '@lib/types/general'
import { mapProfileItem } from '@utils/formatters'

interface Props {
  data: Playlist | Album
}

const data = await mapProfileItem({ item: Astro.props.data })
---

{
  data && (
    <li class="bg-primary-dark-200 p-4 pb-8 rounded-lg hover:bg-zinc-800 transition-colors duration-300">
      <a
        href={`${data.type}/${data.id}`}
        class="flex flex-col justify-center items-center gap-3"
      >
        {data.image ? (
          <picture class="aspect-square shadow-md">
            <img
              src={data.image}
              alt={`${data.name}-image-cover`}
              class="object-cover rounded-lg w-[170px] h-[170px]"
            />
          </picture>
        ) : (
          <div class="h-full w-full bg-gray-500" />
        )}

        <div class="w-full text-left">
          <h2 class="font-bold">{data.name}</h2>
          <p class="text-sm text-light">{data.author}</p>
        </div>
      </a>
    </li>
  )
}
